name: Deploy to GitHub Pages
on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Deploy to fbcss.github.io
        run: |
          git config user.name "fbcss"
          git config user.email "fbcss@fbcss.github.io"
          git push --force "https://x-access-token:${{ secrets.CLONE_TOKEN }}@github.com/fbcss/fbcss.github.io.git" main

